---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <script type="text/javascript" language="JavaScript">
      var sc_project = 2371178;
      var sc_invisible = 0;
      var sc_partition = 22;
      var sc_security = "03c588ec"; 
    </script>
    <script type="text/javascript" language="JavaScript" src="http://www.statcounter.com/counter/counter.js"></script>
    <noscript>
      <a href="http://www.statcounter.com/" target="_blank"><img
          src="http://c23.statcounter.com/counter.php?sc_project=2371178&java=0&security=03c588ec&invisible=0"
          alt="hit counter code" border="0" /></a>
    </noscript>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
