---
layout: default
---

{% include base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

    <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
        <div class="page__inner-wrap">
            <header>
                <h1>{{ page.title }}</h1>
            </header>
        
            {% if page.picloc and page.picalt %}
            <p>
                <img src={{ page.picloc }} alt={{ page.picalt }} width=350 />
            </p>
            {% endif %}
            
            <ul>
                {% if page.paperurl %}
                <li><a href={{ page.paperurl }} target="_blank" />Published
                    version</a></li>
                {% endif %}

                {% if page.preprinturl %}
                <li><a href={{ page.preprinturl }} target="_blank" />Pre-print manuscript</a>
                </li>
                {% endif %}

                {% if page.slideurl %}
                <li><a href={{ page.slideurl }} target="_blank" />Slides</a>
                </li>
                {% endif %}

                {% if page.archiveurl %}
                <li><a href={{ page.archiveurl }} />Replication
                    materials</a></li>
                {% endif %}

                {% if page.bibtexurl %}
                <li><a href={{ page.bibtexurl }} target="_blank" />BibTeX</a></li>
                {% endif %}
            </ul>
            <p><strong>Suggested Citation</strong></p>
            {{ page.citation }}
        


            <section class="page__content" itemprop="text">
                    {{ content }}

            </section>
            
            {% if page.share %}{% include social-share.html %}{% endif %}

        </div>
    </article>

</div>
